# =======================
# IGNORE FILES FOR NUKEVIET
# =======================

# Ignore everything by default
*

# But keep these folders
!/modules/
!/themes/

# Keep .gitignore itself
!.gitignore

# Inside modules and themes, keep everything
modules/**
themes/**
